<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Pictureurl</th>
      <th>Highone</th>
      <th>Hightwo</th>
      <th>Highthree</th>
      <th>Highfour</th>
      <th>Highfive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.url %></td>
        <td><%= game.description %></td>
        <td><%= game.pictureUrl %></td>
        <td><%= game.highOne %></td>
        <td><%= game.highTwo %></td>
        <td><%= game.highThree %></td>
        <td><%= game.highFour %></td>
        <td><%= game.highFive %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
